<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
	<title>Página inicial</title>
	 <link rel="stylesheet" type="text/css" href="styleIndex.css">
</head>

	</style>
<body>
	<h1 align="center">Cadastro de Professores - EEEP Padre João Bosco de Lima</h1><br>
	<div align="center">
	<a href="/cad" class="btn btn-primary" id="cad">Página de Administrador</a>
	<a href="/userCad" class="btn btn-primary" id="use">Página de Usuário</a>
	<a href="/sobre" class="btn btn-primary" id="sob">Sobre</a>
	<a href="/logout" class="btn btn-primary" id="sob">Sair</a>
	

	</div>
</body>
</html>
