<!DOCTYPE html>
<html  xmlns="http://maven.apache.org/POM/4.0.0"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
	<title>Login</title>
</head>
<style type="text/css">
	#cont{
	background-color: lightblue;
	width: 30%;
	height: 50%;
	border-radius: 25px;
	margin-left: 30%;
	margin-top: 3%;
	border: 3px solid blue;
}
#no{
	margin-left:25%;
	width: 50%;
	
}
#tx{
	color: blue;
	margin-left: 35%

}
#bt{
	margin-left: 40%;
	width: 20%
}
#in{
	margin-left:20%;
	color: blue
}
</style>
<body>
	<div id="cont"> 
		<h1 id="tx">Login</h1><br>
	<form th:action="@{/login}" method="post">

		<label id="in">Usuário:</label>  
  <input name="username" class="form-control" placeholder="Usuário"/  id="no"><br>

   		<label id="in">Senha:</label>  
  <input type="password" name="password" class="form-control" placeholder="Senha"/  id="no"><br>
 
  <button class="btn btn-primary btn-block" id="bt">Entrar</button>
</form>
</div>
</body>
</html>